<div class="card shadow">
  <div class="card-header border-3">
    <h3 class="mb-0" style="font-weight: bold">{{ employee.id ? 'Editar Empleado': 'Nuevo Empleado'}}</h3>
  </div>  
  <div class="card-body">
    <form #employeeForm="ngForm">
      <div class="row pl-4 pr-4">
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Nombre</label>
            <div class="input-group">
              <input 
              [(ngModel)]='employee.name' 
              type="text" 
              class="form-control" 
              id="name"
              name="name" 
              placeholder="Nombre"
              required
              >
            </div>
          </div>
        </div>                    
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Apellido</label>
            <div class="input-group">
              <input 
              [(ngModel)]='employee.last_name' 
              type="text" 
              class="form-control" 
              id="last_name"
              name="last_name" 
              placeholder="Apellido"
              required
              >
            </div>
          </div>
        </div>              
      </div>  
      <div class="row pl-4 pr-4">
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Rut</label>
            <div class="input-group">
              <input 
              [disabled]="param.key=='rut'"
              [(ngModel)]='employee.rut' 
              type="text" 
              class="form-control" 
              id="rut"
              name="rut" 
              placeholder="Rut"
              required
              >
            </div>
          </div>
        </div>                    
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Email</label>
            <div class="input-group">
              <input 
              [(ngModel)]='employee.email' 
              type="email" 
              class="form-control" 
              id="email"
              name="email" 
              placeholder="Email"                              
              >
            </div>
          </div>
        </div>                     
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Dirección</label>
            <div class="input-group">
              <input 
              [(ngModel)]='employee.direction' 
              type="text" 
              class="form-control" 
              id="direction"
              name="direction" 
              placeholder="Direccion"                                
              >
            </div>
          </div>
        </div>   
        <div class="col-md-6"> 
          <div class="form-group">
            <label style="font-weight: bold">Temporadas</label>
            <div class="input-group">
              <ngx-select-dropdown
                  [(ngModel)]="selectedDatasource"
                  [ngModelOptions]="{standalone: true}"
                  (change)="selectionChanged($event)"
                  [multiple]="true"
                  [config]="seasonConfig"
                  [options]="seasons"
                  ngDefaultControl
                  class="w-100 h-100"
                ></ngx-select-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-control custom-control-alternative custom-checkbox">            
            <input class="custom-control-input" type="checkbox"  [checked]="employee.active">
            <label class="custom-control-label" (click)="toggleSelection($event)">
              <span class="text-muted">Activo</span>
            </label>            
          </div>
        </div>  
      </div> 
    </form>  
  </div>
  <div class="card-footer">
    <div class="row text-right">
      <app-generic-button [disabled]="employeeForm.invalid" (click)="saveEmployee()" [buttonMessage]="buttonMessage"></app-generic-button>
    </div>
  </div>
</div>
