<div class="header bg-gradient-success pb-6 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-3">
          <div class="row pl-1 pr-4">
            <div class="col-md-10">  
              <h3 class="mb-0" style="font-weight: bold">Listado de Cuarteles</h3>
            </div>
            <div class="col-md-2">  
              <app-generic-button class="float-right" routerLink="/form-cuartel" routerLinkActive="active-link" [buttonMessage]="buttonMessage" [buttonIcon]="buttonIcon"></app-generic-button>
            </div>
          </div>
        </div>
        <div class="table-responsive pb-6">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre del Cuartel</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Hectareas</th>
                <th scope="col">Variedad</th>
                <th scope="col">Portainjerto</th>                
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let quarter of quarters | paginate: { itemsPerPage: 10, currentPage: page }'>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/hexagon.png">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ quarter.name }}</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">                
                    <div class="media-body">
                      <p class="mb-0 text-sm" style="font-weight: 300">{{quarter.description}}</p>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">                
                    <div class="media-body">
                      <p class="mb-0 text-sm" style="font-weight: 300">{{quarter.hectareas}}</p>
                    </div>
                  </div>
                </th>

                <th scope="row">
                  <div class="media align-items-center">                
                    <div class="media-body">
                      <p class="mb-0 text-sm" style="font-weight: 300">{{quarter.variety}}</p>
                    </div>
                  </div>
                </th>

                <th scope="row">
                  <div class="media align-items-center">                
                    <div class="media-body">
                      <p class="mb-0 text-sm" style="font-weight: 300">{{quarter.portainjerto}}</p>
                    </div>
                  </div>
                </th>
              
                
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <!-- <a class="dropdown-item" (click)='details()'>Ver</a> -->
                      <a class="dropdown-item" (click)='toEdit(quarter.id)'>Editar</a>
                      <a class="dropdown-item" (click)='delete(quarter.id)'>Borrar</a>
                    </div>
                  </div>
                </td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4 text-center">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
</div>
